<div class="my-container">
  <div class="options">

    <div class="separator">
      <span>SpotiApp</span>
    </div>

    <a routerLinkActive="active" routerLink="administrador" class="nav-link" aria-current="page">
      <i class="fa fa-home" aria-hidden="true"></i>
      Inicio
    </a>

    <div class="separator">
      <span>Gestión de usuarios</span>
      <hr>
    </div>
    <a routerLinkActive="active" class="nav-link text-muted">
      <i class="fa fa-user" aria-hidden="true"></i>
      Usuarios
    </a>

    <div class="separator">
      <span>Sistema de recomendación</span>
      <hr>
    </div>
    <a routerLinkActive="active" class="nav-link text-muted">
      <i class="fas fa-clock"></i>
      Horarios
    </a>

    <a routerLinkActive="active" routerLink="algoritmos" class="nav-link">
      <i class="fas fa-laptop-code"></i>
      Algoritmos
    </a>

    <a routerLinkActive="active" class="nav-link text-muted">
      <i class="fas fa-chart-pie"></i>
      Estadísticas
    </a>

    <div class="w-100 text-center mt-4">
      <button (click)="logout()" class="btn btn-danger">Cerrar sesión</button>
    </div>
  </div>

</div>



