<div class="card cancion" style="width: 100%;" #contenedorCancion>
  <img [src]="cancion.rutaImagen" class="card-img-top"
       [alt]="cancion.rutaImagen">
  <div class="card-body">
    <span class="card-title" style="font-weight: 600 !important"> {{ cancion.titulo }}</span>
    <br>
    <span class="text-muted" (click)="verArtista( cancion.idArtista )">
                {{ cancion.artista }}</span>
  </div>

</div>
