<div class="container">
  <a routerLink="/algoritmos" class="btn btn-back"><</a>

  <div class="my-container text-center">
    <h1> {{ nombreAlgoritmo }}</h1>
    <span>Seleccione la tabla a las que le quiere aplicar el algoritmo.</span>
    <div class="input-group-div" *ngFor="let table of tablas">
      <input type="radio" [value]="table.nombre" [id]=[table.nombre] name="tablas" (change)="this.nombreTabla = table.nombre">
      <label [for]="table.nombre">{{ table.nombre }}</label>
    </div>

    <button class="btn btn-play" (click)="ejecutarAlgoritmo()"><i class="fas fa-play"></i></button>

    <span [class.text-success]="!this.error" [class.text-danger]="this.error"> {{ this.message }} </span>

  </div>
</div>
