
<div class="container w-50">
    <form class="my-container login_form animate__animated animate__backInRight" (ngSubmit)="validar(form)" #form="ngForm">

      <h1 class="text-center">REGISTRO</h1>

      <div class="form-group mb-4">
        <label class="form-label" for="name"> Introduzca su nombre: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-user fa-2x"></i>
            </span>
          </div>
          <input [(ngModel)]="usuario.nombre"
                 name="nombre"
                 class="form-control"
                 type="text"
                 id="name"
                 placeholder="Nombre"
                 minlength="2"
                 #nombre = "ngModel"
                 [class.is-invalid] = "nombre.invalid && nombre.touched"
                 required>
        </div>
        <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">
          Ingrese al menos 2 letras
        </small>
      </div>

      <div class="form-group mb-4">
        <label class="form-label" for="email"> Introduzca su correo electrónico: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-envelope fa-2x"></i>
            </span>
          </div>
          <input [(ngModel)]="usuario.correo"
                 name="correo"
                 class="form-control"
                 type="email"
                 id="email"
                 email
                 #email = "ngModel"
                 [class.is-invalid] = "email.invalid && email.touched"
                 placeholder="Correo"
                 required>
        </div>
        <small class="text-danger" *ngIf="email.invalid && email.touched">
          Ingrese un correo valido
        </small>
      </div>

      <div class="form-group mb-4">
        <label for="password"> Introduzca su contraseña: </label>
        <div class="input-group">
          <div class="input-group-prepend">
          <span class="input-group-text">
            <i *ngIf="password1.invalid" class="fas fa-unlock fa-2x"></i>
            <i *ngIf="password1.valid" class="fas fa-lock fa-2x"></i>
          </span>
          </div>
          <input [(ngModel)]="usuario.password"
                 name="password1"
                 class="form-control"
                 type="password"
                 id="password"
                 minlength="5"
                 #password1 = "ngModel"
                 [class.is-invalid] = "password1.invalid && password1.touched"
                 placeholder="Contraseña"
                 required>
        </div>
        <div class="form-text">
          <span [ngClass]="password1.invalid && password1.touched ? 'text-danger' : 'text-muted'">
            Tu contraseña debe tener entre 5-20 caracteres, contener al menos una letra y un número
        </span>
        </div>
      </div>

      <div class="form-group mb-4">
        <label for="repeated-password"> Repita su contraseña: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
            <i *ngIf="password2.invalid" class="fas fa-unlock fa-2x"></i>
            <i *ngIf="password2.valid" class="fas fa-lock fa-2x"></i>            </span>
          </div>
          <input [(ngModel)]="repeatedPassword"
                 name="password2"
                 class="form-control"
                 type="password"
                 id="repeated-password"
                 #password2 = "ngModel"
                 (change)="equalPasswords(password1.value, password2.value)"
                 [class.is-invalid] = "password2.touched && !coincidenPasswords"
                 placeholder="Contraseña"
                 required>
        </div>
        <div class="form-text">
          <span [ngClass]="!coincidenPasswords && password2.touched ? 'text-danger' : 'text-muted'">
            La contraseña debe coincidir con la anterior
          </span>
        </div>
      </div>

      <div class="form-group mb-4">
        <label for="repeated-password"> Introduzca su edad: </label>
        <div class="input-group">
        <input [(ngModel)]="usuario.edad"
               name="edad"
               class="form-control"
               type="number"
               id="age"
               placeholder="Edad"
               #edad = "ngModel"
               minlength="2"
               [class.in-invalid] = "edad.invalid && edad.touched">
        </div>

        <small class="text-danger" *ngIf="edad.invalid && edad.touched">
          Introduzca una edad valida
        </small>
      </div>

      <div class="form-group mb-4">
        <label for="repeated-password"> Introduzca su país: </label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-globe-africa fa-2x"></i>
            </span>
          </div>
          <select [(ngModel)]="usuario.pais" name="pais" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option [value]="country.cca2" *ngFor=" let country of countries "> {{ country.name.common }}</option>
          </select>
        </div>
      </div>

      <div class="form-group mb-4">
        <span>Introduzca el sexo:</span>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" id="femaleSex" value="female" [(ngModel)]="usuario.sexo">
          <label class="form-check-label" for="femaleSex">
            Femenino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" id="maleSex" value="male" [(ngModel)]="usuario.sexo">
          <label class="form-check-label" for="maleSex">
            Masculino
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" id="noSex" value="noSex" [(ngModel)]="usuario.sexo">
          <label class="form-check-label" for="noSex">
            No se corresponde con ninguno
          </label>
        </div>
      </div>

        <span *ngIf="signUpError" class="text-danger text-center">
          Ha habido un error realizando su registro. Asegúrese de que los datos son correctos
        </span>

      <button type="submit" class="btn btn-primary">REGISTRARSE</button>

      <div class="text-center">
        <span>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></span>
      </div>
    </form>
  </div>


