<div class="container">
  <a routerLink="/algoritmos" class="btn btn-back"><</a>
  <div class="my-container">
    <h1> {{ nombreAlgoritmo }}</h1>

    <div class="col" *ngFor="let tabla of tablas">
      <input type="radio" style="font-weight: bold;" [value] ="tabla.nombre" [id]="tabla.nombre" name="table"
             (change)="seleccionarInputTabla( tabla.nombre )"/>
      <label [for]="tabla.nombre"> {{ tabla.nombre }}</label>
    </div>

    <table class="table">
      <tr>
        <th></th>
        <th  *ngFor="let field of this.fields"> {{ field }} </th>
      </tr>
      <tr *ngFor="let registro of this.registros;">
        <input type="radio" name="registro" (change)="seleccionarRegistro(registro)">
        <td *ngFor="let field of this.fields"> {{ registro[field]}}</td>
      </tr>
    </table>

    <div *ngIf = "this.registros.length > 0 " class="paginacion">
      <button class="btn btn-arrow" (click)="this.initialCount = this.initialCount-steps;
                this.getFieldRegisters(this.nombreTabla)">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button class="btn btn-arrow" (click)="this.initialCount = this.initialCount+steps;
                this.getFieldRegisters(this.nombreTabla)">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <div class="btn-container" *ngIf="this.fieldsAlg.length>0">
      <button class="btn btn-play text-center" (click)="ejecutarAlgoritmo()">
        <i class="fas fa-play"></i>
      </button>
    </div>

    <div class="w-100 text-center">
      <i *ngIf="this.loading"  class="fas fa-spinner fa-spin fa-5x"></i>

      <span [class.text-success]="!this.error" [class.text-danger]="this.error">
        {{ this.message }}

        <div *ngIf="this.userFound" class="container">
          <span>Usuario similar: </span>
          <span>{{ userFound.nombre }}</span>
          <br>
          <img class="profile-pic" [src]="userFound.avatar" alt="imagenusuario">
        </div>

      </span>
    </div>
  </div>
</div>
