.card-img-top, .elegida {
  cursor: pointer !important;
}

.resumen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: auto !important;
  z-index: 10000000 !important;
}

.panel {
  border-radius: 30px;
  padding: 30px;
  color: black;
}
.notificacion {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);

  z-index: 3 !important;
  width: 40%;
  padding: 20px;
  background-color: white;
  border-radius: 10px !important;
  text-align: center;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
}

.elegida {
  width: 100px !important;
  height: 100px !important;
}

.hijos {
  width: 10% !important;

}

.panel {
  border: 2px solid var(--gray) !important;
}

.btn-primary {
  width: auto !important;
}

.next-to-next {
  display: flex;
  justify-content: space-between;
}
