<div class="my-container text-center" >
  <h1>Ayúdanos a conocerte</h1>

  <form class="mb-4">
    <input class="form-control me-2" type="search" placeholder="Busque una canción que te guste" aria-label="Search"
           (keyup.enter)="buscar( termino.value )" #termino>
  </form>

  <div class="container" *ngIf="termino.value.length > 0 && canciones.length == 0">
    <h3 class="text-danger">No se han encontrado resultados</h3>
  </div>

  <div class="container panel" *ngIf="termino.value.length  <= 0">
    <h4>Busca tus canciones favoritas y selecciónalas para añadirlo a tu lista de canciones favoritos!</h4>
    <span class="text-danger">Debes elegir al menos 4</span>
  </div>

  <div *ngIf="termino.value.length > 0 && canciones.length > 0 ">
    <h2>Búsquedas con:  <span>{{ termino.value }}</span></h2>
    <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
      <div class="col"  *ngFor="let cancion of canciones ">
        <div class="card text-center cancion">
          <app-cancion (click)="seleccionarCancion( cancion )" [cancion]="cancion"></app-cancion>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="resumen animate__animated animate__bounceInUp" *ngIf="cancionesElegidas.length > 0">
 <div class="next-to-next">
   <h2>Canciones seleccionadas: </h2>
   <button class="btn btn-primary" type="submit" (click)="this.valorarCanciones()">
     Aceptar
   </button>
 </div>
  <div *ngFor="let elegido of cancionesElegidas" class="hijos">
    <img [src]="elegido.rutaImagen" class="profile-pic elegida"
         (click)="deseleccionarCancion( elegido )"
         (mouseenter)='hoverImageArtist( elegido )'
         (mouseleave)='reestablecerImageArtist( elegido )' alt="artista"/>
    <p><b> {{ elegido.titulo }}</b></p>
    <p class="text-muted"> {{ elegido.artista }}</p>
  </div>

</div>

<div class="added notificacion animate__animated animate__bounceInRight" *ngIf="seleccionado" >
  <h3 class="text-success">Canción añadida a la lista</h3>
  <span>Se ha añadido la canción a la lista</span>
</div>

<div class="added notificacion animate__animated animate__bounceInRight" *ngIf="borrado">
  <h3 class="text-danger">Canción eliminada de la lista</h3>
  <span>Se ha eliminado la canción de la lista</span>
</div>
