.top-tracks{
  margin: auto;
}

h1
{
  color: var(--primary) !important;
  text-align: center;
}


.genres{
  margin: 5px;
  font-size: 100%;
}

.btn-danger {
  background-color: black !important;
  border: 0 !important;
}


a{
  color: var(--primary) !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  cursor: pointer !important;
}


.app-artista {
  margin: 0 !important;
}
