<h1>Búsqueda: {{ this.termino }}</h1>

<div class="container loading-container" *ngIf="loading">
  <p>Cargando ...</p>
  <i class="fas fa-spinner fa-spin fa-10x"></i>
</div>

<div class="container text-center" *ngIf="resultadosArtistas.length === 0 && resultadosCanciones.length === 0 && !loading">
  <h2>No se han encontrado resultados</h2>
</div>


<div class="my-container animate__animated animate__backInLeft" *ngIf="resultadosArtistas.length !== 0">
  <div class="artistas-container">
    <h2>Artistas</h2>
    <div *ngFor="let resultado of resultadosArtistas" class="hijos">
      <app-artista  class="app-artista" [artista] = "resultado"></app-artista>
    </div>
  </div>
</div>

<div class="my-container animate__animated animate__backInLeft" *ngIf="resultadosCanciones.length !== 0">
  <h2>Canciones</h2>
  <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
    <div class="col" *ngFor="let resultado of resultadosCanciones">
      <app-cancion  [cancion] = "resultado"></app-cancion>
    </div>
  </div>
</div>
