<div class="container w-80">
  <h1 class="text-center mb-5">Panel de administrador</h1>


  <div class="my-container">
    <h2>Ajuste de parámetros</h2>
    <form #form="ngForm"
          (ngSubmit)="actualizarImportancia(form)"
          class="text-center"
    >

      <div
        class="text-center"
        *ngFor="let nombreTabla of nombreTablas"
      >
        <h3>{{ nombreTabla }} </h3>

        <table class="table mt-5">
          <tr>
            <th
              *ngFor="let campo of this.tablas[nombreTabla]"
              class="container"
            >
              <span> {{ campo }}</span>
            </th>
          </tr>
          <tr>
            <td
              *ngFor="let campo of this.tablas[nombreTabla] "
              class="container"
            >
              <input
                [class.is-invalid]="field.invalid && field.touched"
                [(ngModel)]="valores[nombreTabla][campo]"
                class="importance"
                type="number"
                [name]="campo"
                required
                #field="ngModel"
              >
              <br>
              <span *ngIf="field.invalid && field.touched" class="form-text text-center  text-danger">
                Campo obligatorio
              </span>
            </td>
          </tr>
        </table>


      </div>



      <input
        class="btn btn-primary"
        type="submit"
        value="Actualizar">
    </form>

  </div>
</div>
