<div class="container">
  <a routerLink="/algoritmos" class="btn btn-back"><</a>
  <div class="my-container">
    <h1> {{ nombreAlgoritmo }}</h1>


    <div class="row text-center">
      <div class="col" *ngFor="let tabla of this.tablas">
        <span style="font-weight: bold">{{ tabla.nombre.toUpperCase() }}</span>

        <div *ngFor="let field of this.fields.get(tabla.nombre)" class="col">
          {{ field }}
        </div>

      </div>

    </div>

  </div>
</div>
