<div class="container">
  <a routerLink="/algoritmos" class="btn btn-back"><</a>

  <div class="container text-center">
    <span class="badge bg-primary" *ngIf="this.updateRecommendation" (click)="actualizarDatos()">
      Actualizar datos
    </span>
  </div>

  <div class="my-container text-center">
    <h1> {{ nombreAlgoritmo }}</h1>
    <span>Seleccione la tabla/s a las que le quiere aplicar el algoritmo.</span>
    <div class="input-group-div" *ngFor="let table of tablas">
      <input type="radio" [value]="table.nombre" [id]=[table.name] name="tablas"
             (change)="encontrarCamposTabla(table.nombre); getFieldRegisters(table.nombre)">
      <label [for]="table.nombre">{{ table.nombre }}</label>
    </div>

    <div class="w-100" *ngIf="campos.length > 0">
      <h2>Campos</h2>

      <span class="info">El primer valor que seleccione será el valor independiente (y) y el segundo será el valor dependiente
      (x) <span class="badge bg-primary">y=ax+b</span>. El objetivo será calcular a y b </span>

      <div class="input-group-div" *ngFor="let campo of campos">
        <!-- Linear regression-->
        <input type="checkbox" [value]="campo.checked" [(ngModel)]="campo.checked"
               name="campos" (change)="getCheckedValues()" [disabled]="getCheckedValues().length == 2 && !campo.checked">
        <label>{{ campo.nombre }}</label>
      </div>

      <div *ngIf="getCheckedValues().length == 2">
        <span>{{this.getCheckedValues()[0].nombre}} = a*{{this.getCheckedValues()[1].nombre}} + b </span>
        <span *ngFor="let checked of this.getCheckedValues()">
        </span>
      </div>

      <div class="w-100 text-center">
        <i *ngIf="this.loading"  class="fas fa-spinner fa-spin fa-5x"></i>
        <span [class.text-danger]="!this.error" [class.text-danger]="!this.error" *ngIf="this.message.length > 0"> {{ this.message }}</span>
      </div>
    </div>

    <button class="btn btn-play" *ngIf="this.getCheckedValues().length == 2" (click)="ejecutarAlgoritmo()"><i class="fas fa-play"></i></button>

  </div>
</div>
