<div *ngIf="!loading" class="my-container">
  <h2>Algoritmos de predicción</h2>
  <span class="info">Introduce datos de prueba y se devolverá una predicción. </span>

  <div class="algoritmo">
    <span>Regresión lineal</span>
    <button (click)="irAlgoritmo('Regresión lineal')" class="btn"><i class="fas fa-chevron-right"></i></button>
  </div>

  <div class="algoritmo">
    <span>K-Vecinos más cercanos</span>
    <button (click)="irAlgoritmo('K-Vecinos más cercanos')" class="btn">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div class="algoritmo">
    <span>Naive Bayes</span>
    <button (click)="irAlgoritmo('Naive Bayes')" class="btn">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div class="algoritmo">
    <span>K-Means</span>
    <button (click)="irAlgoritmo('K-Means')" class="btn">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>


</div>


<div *ngIf="loading" class="text-center">
  <i class="fas fa-spinner fa-spin fa-10x"></i>
</div>

<div *ngIf="!loading" class="my-container">
  <h2>Algoritmos basados en contenido</h2>
  <span class="info">Se buscará una identidad similar a la introducida. </span>

  <div class="algoritmo">
    <span>K-Vecinos más cercanos</span>
    <button (click)="irAlgoritmoContent('K-Vecinos más cercanos (basado en contenido)')" class="btn">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>


<!--<div *ngIf="!loading" class="my-container">-->
<!--  <h2>Algoritmos colaborativos</h2>-->
<!--  <span class="info">Se deducirá una relación entre distintas entidades. </span>-->

<!--  <div class="algoritmo">-->
<!--    <span>K-Vecinos más cercanos</span>-->
<!--    <button (click)="irAlgoritmoColab('K-Vecinos más cercanos (colaborativo)')" class="btn">-->
<!--      <i class="fas fa-chevron-right"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
