.algoritmo {
  display: flex;
  justify-content: space-between;
}

.algoritmo .btn {
  background-image: none !important;
  background-color: var(--complementary) !important;
  color: white !important;
}

.algoritmo span {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.container {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 20px !important;
}


