#labelSubirImage {
  padding: 15px;
  border-radius: 20px;
  background-color: #e8e6e6 !important;
  cursor: pointer;
  color: black;
}

.btn-subir{
  text-align: center;
  display: block;
  width: 20%;
  background-color: #FF599E !important;
}

.button-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
