<div class="my-container">

  <h1 class="text-center">Edita tu perfil, {{ usuario.nombre }}</h1>

  <div class="text-center">
    <img *ngIf="!imagenCargada" [src]="usuario.avatar" class="img-thumbnail profile-pic" alt="profile-pic">
    <img *ngIf="imagenCargada" class="img-thumbnail profile-pic" [src]="imagenCargada" alt="imagen cargada">
  </div>


  <form (ngSubmit)="subirFoto($event)" #form="ngForm" class="form text-center">
    <input type="file" accept=".png, .jpg, .jpeg"  id="subirImage">
<!--    <label id="labelSubirImage" for="subirImage">Seleccionar imagen ...</label>-->
    <div class="button-align">
      <button class="btn-subir" type="submit">Subir</button>
    </div>
  </form>

  <div class="animate__animated animate__flipInY">
    <form (ngSubmit)="validar(form)" #form="ngForm">
      <h2 class="text-center">Tus datos</h2>

      <div class="form-group mb-4">
        <label class="mb-2" for="name"> Introduzca su nombre: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-user fa-2x"></i>
            </span>
          </div>
          <input
            [(ngModel)]="usuarioFormulario.nombre"
            name="name"
            [class.is-invalid]="name.invalid && name.touched"
            #name="ngModel"
            class="form-control"
            type="text"
            id="name"
            [value] = "usuario.nombre"
            placeholder="Nombre">
        </div>
      </div>

      <div class="form-group mb-4">
        <label class="mb-2" for="email"> Introduzca su correo: </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-envelope fa-2x"></i>
            </span>
          </div>
          <input
            [(ngModel)]="usuarioFormulario.correo"
            name="correo"
            #correo="ngModel"
            class="form-control"
            type="email"
            id="email"
            email
            [disabled]="true"
            [value] = "usuario.correo"
            placeholder="Correo">
        </div>
      </div>

      <div class="form-group mb-4">
        <label class="mb-2" for="password"> Introduzca su contraseña: </label>
        <div class="input-group">
          <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-unlock-alt fa-2x"></i>
          </span>
          </div>
          <input
            [(ngModel)]="usuarioFormulario.password"
            name="password"
            [class.is-invalid]="password.invalid && password.touched"
            #password="ngModel"
            class="form-control"
            id="password"
            placeholder="Contraseña"
            type="password"
            required>
        </div>
      </div>

      <button type="submit" class="btn">EDITAR PERFIL</button>

      <div *ngIf="this.editDone == 0" class="text-danger"> Ha ocurrido un error. No se han podido editar sus datos ... </div>
      <div *ngIf="this.editDone == 1" class="text-success"> Sus datos se han modificado con éxito</div>
    </form>
  </div>

</div>
