<div class="container loading-container" *ngIf="loading">
  <p>Cargando ...</p>
  <i class="fas fa-spinner fa-spin fa-10x"></i>
</div>

<div class="container" *ngIf="!loading">
  <div class="row">

    <div class="row-1">
      <button routerLink="/home"  class="btn btn-back">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </div>

    <div class="col text-center">
      <img [src]="artista.rutaImagen | noimage" alt="imagen-artista" class="img-thumbnail img-circle profile-pic">
    </div>

    <div class="row-2 text-center">
     <h1> {{ artista.nombre }}</h1>
    </div>
  </div>

  <div class="container my-container animate__animated animate__backInLeft" *ngIf="topTracks.length > 0">
    <h2>Top tracks</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
      <div *ngFor="let topTrack of topTracks">
         <app-cancion [cancion]="topTrack"></app-cancion>
      </div>
    </div>
  </div>

  <div class="container my-container" *ngIf="artista.generos.length > 0">
    <h2>Géneros</h2>
      <div class="row">
        <div class="col" *ngFor="let genero of artista.generos ">
          <span class="badge bg-primary genres"> {{ genero }}</span>
        </div>
    </div>
  </div>


  <div *ngIf="artista.generos.length === 0 && topTracks.length === 0" class="container alert alert-warning" role="alert">
    <h2>
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      No hay información sobre este artista
    </h2>
  </div>
</div>



