.top-tracks{
  margin: auto;
}

.my-container{
  background-color: white;
  width: 80%;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.1);
  margin: 30px auto;
}

.section
{
  display: flex;
  background-color: white;
  margin: 40px auto auto auto ;
  width: 90%;
  padding: 1%;
}



.genres{
  margin: 5px;
  font-size: 100%;
}

