<div class="container">
  <a routerLink="/algoritmos" class="btn btn-back"><</a>

  <div class="container text-center">
    <span class="badge bg-primary" *ngIf="this.updateRecommendation" (click)="actualizarDatos()">
      Actualizar datos
    </span>
  </div>

  <div class="my-container text-center">
    <h1> {{ nombreAlgoritmo }}</h1>
    <span>Seleccione la tabla a las que le quiere aplicar el algoritmo.</span>
    <div class="input-group-div" *ngFor="let table of tablas">
      <input type="radio" [value]="table.nombre" [id]=[table.name] name="tablas"
             (change)="encontrarCamposTabla(table.nombre); getFieldRegisters(table.nombre)">
      <label [for]="table.nombre">{{ table.nombre }}</label>
    </div>

    <div class="w-100" *ngIf="campos.length > 0">
      <h2 *ngIf="nombreAlgoritmo === 'K-Vecinos más cercanos'">Elija el traning point</h2>


      <div *ngIf="getCheckedValues().length == 2">
        <span>{{this.getCheckedValues()[0].nombre}} = a*{{this.getCheckedValues()[1].nombre}} + b </span>
        <span *ngFor="let checked of this.getCheckedValues()">
        </span>
      </div>

      <div *ngIf="nombreAlgoritmo === 'K-Vecinos más cercanos' && this.registros.length>0">
        <div class="input-group-div" >
          <table class="table">
            <tr>
              <th *ngFor="let campo of campos">
                {{campo.nombre}}
              </th>
            </tr>
            <tr *ngFor="let registro of registros ">
              <td *ngFor="let nombreC of nombresCampos">
                {{ registro[nombreC] }} </td>
            </tr>
          </table>
          <br>
        </div>
        <div class="paginacion">
          <button class="btn btn-arrow" (click)="this.initialCount = this.initialCount-steps;
                this.getFieldRegisters(this.nombreTabla)">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="btn btn-arrow" (click)="this.initialCount = this.initialCount+steps;
                this.getFieldRegisters(this.nombreTabla)">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>

      <div class="w-100 text-center">
        <i *ngIf="this.loading"  class="fas fa-spinner fa-spin fa-5x"></i>
        <span *ngIf="this.message" [class.text-success]="!this.error" [class.text-danger]="this.error"> {{ this.missingProperty }} = {{ this.message }}</span>

        <button class="btn btn-play" *ngIf="nombreAlgoritmo ==='K-Vecinos más cercanos'" (click)="mostrarPopUp()"><i class="fas fa-play"></i></button>
        <button class="btn btn-play" *ngIf="nombreAlgoritmo !=='K-Vecinos más cercanos'" (click)="ejecutarAlgoritmo()"><i class="fas fa-play"></i></button>
      </div>
    </div>
  </div>
</div>

<div id="pop-up" class="my-container animate__animated animate__bounceInDown text-center">
  <h2>Datos del usuario de prueba</h2>
  <span>Introduzca los datos que conoce del usuario. Deje en blanco aquel que quiere predecir.</span>
  <table class="table">
    <tr>
      <th *ngFor="let campo of campos">
        <span *ngIf="!campo.nombre.includes('sex')">{{campo.nombre}}</span>
      </th>
    </tr>

    <tr>
      <td *ngFor="let campo of filterNoSexFields(); let i = index">
        <input type="text" placeholder="{{valoresFields[i]}}" [name]="valoresFields[i]"
               [(ngModel)]="valoresFields[i]" (change)="guardarValores(campo, valoresFields[i])" >
      </td>
    </tr>
  </table>

  <div *ngIf="selectedTable == 'usuarios'">
    <span>Sexo</span>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
            [(ngModel)]="selectedSex">
      <option [value]="sex" *ngFor=" let sex of this.filterSexFields(); ">
        {{ sex.substr(4) }}
      </option>
    </select>
  </div>

  <span class="text-danger" *ngIf="maxBlankSpacesError"> Debe dejar vacío un único campo </span>

  <div class="btn-container">
    <button class="btn btn-success text-center" (click)="ejecutarAlgoritmo()">Continuar</button>
    <button class="btn btn-danger" (click)="ocultarPopUp()">Cerrar</button>
  </div>

</div>
