a {
  color: var(--primary) !important;
  text-decoration: none !important;
}

.card-group .badge a{
  color: white !important;
  text-decoration: none !important;
}

.card img {
  border-radius: 100% !important;
  width: 80% !important;
}

.card-body {
  font-size: 16px !important;
  color: black !important;
}

.card {
  border-radius: 20px !important;
  border: 0 !important;
  margin-right: 10px;
  position: relative !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}


