<div class="card text-center cancion">
  <img [src]="artista.rutaImagen | noimage" class="card-img-top" [alt]="artista.rutaImagen">
  <div class="card-body">
    <a (click)="abrirArtista( artista.id )" class="card-title"> {{ artista.nombre }}</a>
  </div>
</div>
