
.container {
  display: table;
  margin: -150px auto 50px;
}

.login_form {
  padding: 50px 100px 50px 100px;
  border-radius: 50px;
  /*box-shadow: 5px 5px 30px 5px rgba(0,0,0,0.30);*/
}
i {
  color: var(--primary) !important;
}

.text-danger i {
  color: var(--danger) !important;
}

h1 {
  margin-bottom: 30px;
}

a {
  text-decoration: none !important;
  color: var(--primary) !important;
}

.admin {
  display: block !important;
  margin-top: 0 !important;
  position: absolute !important;
  float: right !important;
}

.admin a{
  color: white !important;
  background-color: var(--secondary) !important;
}
.cont {
  display: flex;
  justify-content: center;
}

.btn-primary {
  width: 100%;
}

.btn-primary span {
  color: white !important;
}
