<div class="container w-50">
  <form class="my-container login_form animate__animated animate__backInLeft" (ngSubmit)="validar(form)" #form="ngForm">
    <h1 class="text-center">INICIA SESIÓN</h1>
    <div class="form-group mb-4">
      <label class="form-label" for="email"> Introduzca su correo electrónico: </label>
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-envelope fa-2x"></i>
            </span>
        </div>
        <input
          [(ngModel)]="usuario.correo"
          name="correo"
          [class.is-invalid]="correo.invalid && correo.touched"
          #correo = "ngModel"
          class="form-control"
          type="email"
          id="email"
          email
          required
          placeholder="Correo">
      </div>
      <span *ngIf="correo.invalid && correo.touched" class="form-text text-center  text-danger">
            Campo obligatorio
          </span>
    </div>

    <div class="form-group mb-4">
      <label for="password"> Introduzca su contraseña: </label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i *ngIf="password.invalid" class="fas fa-unlock fa-2x"></i>
            <i *ngIf="password.valid" class="fas fa-lock fa-2x"></i>
          </span>
        </div>
        <input
          [(ngModel)]="usuario.password"
          name="password1"
          [class.is-invalid]="password.invalid && password.touched"
          #password = "ngModel"
          class="form-control"
          [type]="password1"
          id="password"
          placeholder="Contraseña"
          required>
        <button class="btn btn-login" *ngIf="password1 == 'text'" (click)="showHidePassword('first')">  <i class="fas fa-eye "></i> </button>
        <button class="btn btn-login" *ngIf="password1 == 'password'" (click)="showHidePassword('first')">  <i class="fas fa-eye-slash"></i> </button>
      </div>
      <span *ngIf="password.invalid && password.touched" class="form-text text-center text-danger">
            Campo obligatorio
        </span>
    </div>

    <div class="alert text-center" *ngIf="error">
      <span class="text-danger">Los campos son incorrectos. Por favor, revíselos.</span>
    </div>

    <div class="cont">
      <button #loginButton
              class="btn btn-primary"
              [class.btn-confirm] = "!password.invalid && !correo.invalid && !error">
        <span>INICIAR SESIÓN</span>
<!--        <img src="https://i.cloudup.com/2ZAX3hVsBE-3000x3000.png" height="20" width="20">-->
      </button>
    </div>

    <div class="text-center">
      <span>¿No tienes cuenta? <a routerLink="/registro">Regístrate</a></span>
    </div>
  </form>
</div>
