/*
.background > * {
  opacity: 0.5;
}
.background{
  position: absolute;
  z-index: -1000;
  height: 100%;
}



.background #svg1 {
  position: absolute;
  width: 30%;
  top: 0;
  left: 60%;
}

.background #svg3 {
  position: absolute;
  width: 40vw;
  top: -20%;
  left: 10%;
}

.background #svg6 {
  position: relative;
  width: 40vw;
  top: 50%;
  right: 10%;
}

*/
