<div class="row">
  <div *ngIf="this.loggedIn && !this.isAdmin" class="col-4">
    <app-navbar></app-navbar>
  </div>


  <div *ngIf="this.isAdmin" class="col-4">
    <app-navbar-admin></app-navbar-admin>
  </div>
  <div [ngClass]="{'col': this.loggedIn}">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<app-footer *ngIf="!this.isAdmin"></app-footer>
