<div class="container my-container text-center" *ngIf="loading">
  <h2>Esto puede llevar unos segundos.</h2>
  <i class="fas fa-spinner fa-spin fa-10x"></i>
</div>

<div class="my-container" *ngIf="!loading && usuario.nombre">
  <h1 class="text-left">Creemos que podrían gustarte</h1>
  <div class="vertical-align container mt-4 animate__animated animate__bounceIn">
    <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
      <div *ngFor="let cancion of deTuEstilo">
        <app-novedad [cancion] = "cancion"></app-novedad>
      </div>
    </div>
  </div>
</div>

<div class="my-container" *ngIf="!loading">
  <h1 class="text-left"> ¡Últimas novedades! </h1>
  <div  class="my_container mt-4 text-center">
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
              [(ngModel)]="selectedCountry" (ngModelChange)="actualizarNovedades()">
        <option [value]="country.cca2" *ngFor=" let country of countries "> {{ country.name.common }}</option>
      </select>

     <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
        <div *ngFor="let cancion of novedadesPersonalizadas">
              <app-novedad [cancion] = "cancion"></app-novedad>
        </div>
      </div>
    <span class="text-danger" *ngIf="novedadesPersonalizadas.length === 0">No se han encontrado resultados</span>

  </div>
</div>
