<div class="container">
  <a routerLink="/algoritmos" class="btn btn-back"><</a>

  <div class="container text-center">
    <span class="badge bg-primary" *ngIf="this.updateRecommendation" (click)="actualizarDatos()">
      Actualizar datos
    </span>
  </div>

  <div class="my-container text-center">
    <h1> {{ nombreAlgoritmo }}</h1>
    <span>Seleccione la tabla/s a las que le quiere aplicar el algoritmo.</span>

    <div class="w-100">
      <h2>Establezca la relación</h2>
      <small class="info">Se responderá a la pregunta: ¿Cuál es la probabilidad de que un determinado
      usuario escuche una determinada canción?</small>

      <div class="row">
        <div class="col-6">

          <form (submit)="buscarUsuario(searchUsuario)">
            <label for="searchUsuario">Busque un usuario</label>
            <br>
            <input
                   class="w-75"
                   type="search"
                   name="searchUsuario"
                   id="searchUsuario"
                   #searchUsuario
                   placeholder="Busque un usuario">
          </form>

          <table *ngIf="foundUsers.length > 0" class="table">
            <tr>
              <th scope="col"></th>
              <th scope="col">Correo</th>
              <th scope="col">Edad</th>
            </tr>

            <tr *ngFor="let user of foundUsers">
              <td>
                <input
                  type="radio"
                  name="selectedUser"
                  [value]="user.correo"
                  (change)="establecerUsuario(user)"
                >
              </td>
              <td>{{ user.correo }}</td>
              <td>{{ user.edad }}</td>
            </tr>
          </table>
        </div>

        <div class="col-6">
          <form (submit)="buscarCancion(searchCancion)">
            <label for="searchCancion">Busque una canción</label>
            <br>
            <input
                  class="w-75"
                  type="search"
                   name="searchCancion"
                   id="searchCancion"
                   #searchCancion
                   placeholder="Busque una canción">
          </form>

          <table *ngIf="foundSongs.length > 0" class="table">
            <tr>
              <th scope="col"></th>
              <th scope="col">Título</th>
            </tr>

            <tr *ngFor="let song of foundSongs">
              <td>
                <input
                  type="radio"
                  name="selectedSong"
                  [value]="song.title"
                  (change)="establecerCancion(song)"
                >
              </td>
              <td>{{ song.titulo }}</td>
            </tr>
          </table>
        </div>

        <div *ngIf="selectedUser">
          <h3>Características a evaluar del usuario: </h3>
          <ul>
            <li> <b>Sexo:</b> {{selectedUser.sexo}}</li>
            <li> <b>País:</b> {{selectedUser.pais}}</li>
            <li> <b>Edad:</b> {{selectedUser.edad}}</li>
          </ul>
        </div>

        <div *ngIf="selectedSong">
          <h3>Características a evaluar de la canción: </h3>
          <ul>
            <li> <b>Género:</b> {{selectedSong.genero}}</li>
            <li> <b>Duración:</b> {{selectedSong.duracion}}</li>
            <li> <b>Artista:</b> {{selectedSong.artista}}</li>
          </ul>
        </div>

      </div>

      <div class="w-100 text-center">
        <i *ngIf="this.loading"  class="fas fa-spinner fa-spin fa-5x"></i>
        <span [class.text-success]="this.status == 0" [class.text-danger]="this.status != 0" *ngIf="this.message.length > 0"> {{ this.message }}</span>

        <button
          *ngIf="selectedSong && selectedUser"
          class="btn btn-play"
          (click)="ejecutarAlgoritmo()">
          <i class="fas fa-play"></i>
        </button>
      </div>
    </div>
  </div>
</div>
