.input-group-div {
  display: flex;
  align-items: center;
}

.input-group-div label{
  margin-left: 10px;
}

.active-field {
  color: white !important;
  background-color: var(--primary) !important;
  border-radius: 5px !important;
}

th {
  padding-bottom: 10px !important;
}

#pop-up {
  display: none;
  position: absolute;
  top: 10%;
  left: 10%;
  background: rgba( 255, 255, 255, 0.95 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.4 );
  border-radius: 20px;
  z-index: 1000;
  padding: 40px;
  text-align: center;
}

.btn-container {
  display: flex;
}

input[type="text"] {
  width: 60% !important;
  border-bottom: 1px solid var(--primary) !important;
}

.badge {
  color: white !important;
}

.table {
  width: 20% !important;
  font-size: 14px !important;
}
