<h1 class="text-center">Música de {{usuario.nombre}}</h1>
<div class="my-container animate__animated animate__backInRight text-center">
    <h2 class="mb-4">Canciones que te gustan </h2>
    <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
      <div *ngFor="let cancion of cancionesValoradas">
        <app-cancion class="app-cancion-container" [cancion] = "cancion"></app-cancion>
      </div>
    </div>

    <span *ngIf="cancionesValoradas.length === 0" class="text-muted">
           Todavía no tienes canciones favoritas
    </span>
</div>

<div class="my-container animate__animated animate__backInRight text-center">
  <h1 class="text-center">Podrían gustarte</h1>

  <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
    <div *ngFor="let cancion of cancionesSimilares">
      <app-cancion class="app-cancion-container" [cancion] = "cancion"></app-cancion>
    </div>
  </div>

</div>
