<div class="container">
  <a routerLink="/algoritmos" class="btn btn-back"><</a>

  <div class="container text-center">
    <span class="badge bg-primary" *ngIf="this.updateRecommendation" (click)="actualizarDatos()">
      Actualizar datos
    </span>
  </div>

  <div class="my-container text-center">
    <h1> {{ nombreAlgoritmo }}</h1>
    <span>Seleccione la tabla/s a las que le quiere aplicar el algoritmo.</span>
    <div class="input-group-div" *ngFor="let table of tablas">
      <input type="radio" [value]="table.nombre" [id]=[table.name] name="tablas"
             (change)="encontrarCamposTabla(table.nombre); getFieldRegisters(table.nombre)">
      <label [for]="table.nombre">{{ table.nombre }}</label>
    </div>

    <div class="w-100" *ngIf="campos.length > 0">
      <h2 *ngIf="nombreAlgoritmo === 'Regresión lineal'
          || nombreAlgoritmo == 'Naive Bayes' || nombreAlgoritmo === 'Decision Tree'">Campos</h2>

      <div *ngIf="getCheckedValues().length == 2">
        <span>{{this.getCheckedValues()[0].nombre}} = a*{{this.getCheckedValues()[1].nombre}} + b </span>
        <span *ngFor="let checked of this.getCheckedValues()">
        </span>
      </div>

      <div *ngIf="nombreAlgoritmo === 'Naive Bayes'">
        <span class="info"> Marque como "conocido" aquellos valores que se sabe con certeza que son afirmativos.
        Se calculará la probabilidad de lo desconocido dado lo conocido. </span>
        <form action="">
          <div class="row">
            <div *ngFor="let campo of this.campos; let i = index;" class="col">
              <b> {{ campo.nombre }} </b>
              <br>
              <input type="text" [name]="campo.nombre"
                     [(ngModel)]="valoresFields[i]"
                     (change)="guardarValores(campo.nombre, valoresFields[i]);"
                     required>
              <br>
              <input type="checkbox" [value]="campo.checked" name="input_checkbox" [(ngModel)]="campo.checked"
                     [disabled]="getCheckedValues().length == 1 && !campo.checked" (change)="knownValue = campo.nombre">
              <label style="margin-left: 5px" [for]="campo.nombre"> Conocido </label>
            </div>
          </div>
        </form>
      </div>

      <button class="btn btn-play" *ngIf="nombreAlgoritmo !=='K-Vecinos más cercanos'" (click)="ejecutarAlgoritmo()"><i class="fas fa-play"></i></button>

      <div class="w-100 text-center">
        <i *ngIf="this.loading"  class="fas fa-spinner fa-spin fa-5x"></i>
        <span [class.text-success]="!this.error" [class.text-danger]="this.error"> {{ this.message }}</span>
      </div>
    </div>
  </div>
</div>

