<div class="container">
  <div class="avatar">
    <a href="https://www.linkedin.com/in/marta-fernández-garc%C3%ADa-5413b0188/">
      <img src="" alt="Skytsunami" />
    </a>
  </div>
  <div class="content">
    <h1>Marta Fernández García</h1>
    <p>Redes Sociales:</p>
    <p>
      <span><a href="https://gitlab.com/martafer77" target="_blank"><i class="fa fa-gitlab"></i></a></span>
      <span><a href="https://www.linkedin.com/in/marta-fernández-garc%C3%ADa-5413b0188/" target="_blank"><i class="fa fa-linkedin"></i></a></span>
    </p>
  </div>
</div>

<a class="suppoprt-me" href="https://www.buymeacoffee.com/marioduarte" target="_blank"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a Coffee&nbsp&emoji=&slug=marioduarte&button_colour=FF5F5F&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00"></a>

