

<div
  (mouseenter)="setHoverIn()"
  (mouseleave)="setHoverOut()"
  class="card cancion"
  style="width: 100%;"
  #contenedorCancion
>
  <img [src]="cancion.rutaImagen" class="card-img-top"
       [alt]="cancion.rutaImagen">
  <div class="card-body">
    <span class="card-title" style="font-weight: 600 !important"> {{ cancion.titulo }}</span>
    <br>
    <a class="text-muted" (click)="verArtista( cancion.idArtista )">
                {{ cancion.artista }}</a>
  </div>



<!--  <p *ngIf="this.probability" style="font-size: 12px!important;" class="text-muted text-center"> {{ this.probability }}% probabilidad</p>-->

  <div class="container w-100">
    <button
      *ngIf="!this.gustada"
      (click)="cancionGustada()"
      class="btn btn-primary text-muted text-center w-100"
      [class.visible] = "hover"
    >
      ¡Me gusta!
    </button>

    <button
      *ngIf="this.gustada"
      (click)="cancionNoGustada()"
      class="btn btn-danger text-muted text-center w-100"
      [class.visible] = "hover"
    >
      ¡No me gusta!
    </button>
  </div>


</div>
