.cancion {
  text-align: left !important;
  padding: 10px;
  background-color: rgba(0,0,0,0);
}

img {
  border-radius: 10px;
}

.btn {
  font-size: 12px !important;
  color: white !important;
  display: none;
}

.visible {
  display: block;
}
