<div class="my-container">
  <form>
    <input class="form-control me-2" type="search" placeholder="Busque un artista, canción o álbum" aria-label="Search"
           (keyup.enter)="buscar( termino.value )" #termino>
    <a class="btn btn-primary" style="color: white !important;" (click)="buscar(termino.value)">
      <i class="fas fa-search"></i>
    </a>
  </form>

  <a routerLink="profile" *ngIf="usuario.avatar">
    <img [src]="usuario.avatar" class="profile-pic" alt="profile-pic">
  </a>
  <br>

  <div class="options">
    <div class="separator">
      <span>SpotiApp</span>
    </div>

    <a routerLinkActive="active" routerLink="home" class="nav-link" aria-current="page">
      <i class="fa fa-home" aria-hidden="true"></i>
      Inicio
    </a>

    <div class="separator">
      <span>Música</span>
      <hr>
    </div>
    <a routerLinkActive="active" routerLink="profile" class="nav-link">
      <i class="fa fa-music" aria-hidden="true"></i>
      Mi música
    </a>
    <a routerLinkActive="active" [routerLink]="['creado-para-ti',usuario.id]" class="nav-link">
      <i class="fas fa-volume-up"></i>
      Creado para ti
    </a>


    <div class="separator">
      <span>Configuración</span>
      <hr>
    </div>

    <a routerLinkActive="active" class="nav-link" routerLink="/editProfile">
      <i class="fas fa-edit" aria-hidden="true"></i>
      Editar perfil</a>

    <div class="w-100 text-center mt-4">
      <a *ngIf="this.usuarioService.loggedIn" (click)="logout()" id="logout" class="btn btn-danger">Cerrar sesión</a>
    </div>

  </div>

</div>



