.my-container {
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  background: rgba( 255, 255, 255, 0.4 ) !important;
}

form {
  display: flex;
}

.btn {
  border: 2px solid white !important;
}

#login, #logout {
  color: white !important;
  margin: auto !important;
  border-radius: 10px !important;
}

input[type="search"] {
  border-radius: 10px !important;
  border: 0 !important;
}

.nav-link {
  color: black  !important;
}

/*
.nav-link {
  color: var(--primary)  !important;
}*/

.nav-link.active {
  color: white !important;
  background: var(--secondary);
  opacity: 0.7;
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 18.5px );
  border-radius: 15px !important;
}

.profile-pic{
  border-radius: 100%;
  width: 150px;
  height: 150px;
  box-shadow: 0 5px 13px 0 rgba(150,150,150,0.5) !important;
  margin-bottom: 20px !important;
}

.options {
  text-align: left !important;
}

.separator {
  display: flex !important;
}
span {
  color: var(--clearBlack) !important;
  font-size: small;
  font-weight: 600 !important;
}

