/* You can add global styles to this file, and also import other style files */

:root
{
   --primary: #02BEC1;
  --secondary: #029C9E;
  /*--secondary: #017375;*/
  --tertiary: #e8e6e6;
  --danger: #F75252;
  --warning: #ffda5f;
  --success: #44C644;
  --complementary: #FF599E;
  --gray: #F9FAFE;
  --text: #283257;
  --clearBlack: #747474;
}

*
{
  font-family: 'Poppins', serif;
  margin-top: 10px !important;;
}

.animate__animated.animate__bounce {
  --animate-delay: 4s !important;
}

.btn {
  border: 0 !important;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn:hover {
  background-position: right center !important; /* change the direction of the change here */
  color: #fff !important;
  text-decoration: none !important;
}

.btn:hover
{
  animation: pulse;
  animation-duration: 0.5s;
}

.btn-arrow {
  background-color: var(--clearBlack) !important;
}

.btn-primary{
  background-color: var(--primary) !important;
  border: 0;
}

.btn-play {
  border-radius: 20px !important;
  padding: 20px !important;
  background-color: var(--primary);
  color: white !important;
  text-align: center !important;
}

.btn-back {
  background-color: var(--secondary) !important;
  color: white;
  width: 40px !important;
  text-align: center;
  background-image: none;
  margin: 0 !important;
}

.btn-danger {
  background-image: none !important;
  margin: auto !important;
}

.btn-update {
  background-image: none !important;
  background-color: white !important;
  box-shadow: none !important;
}

.btn-update i {
  color: black !important;
  margin-right: 5px !important;
}

.btn-update .badge {
  background-color: var(--primary) !important;
  color: white !important;
}

.badge-link {
  background-color: transparent;
  color: gray !important;
}

.active a{
  color: var(--secondary);;
}

a {
  font-weight: 600 !important;
  text-decoration: none !important;
}

.main, .navbar
{
  margin-bottom: 100px;
}

h1,h2,h3,h4, span, p{
  color: var(--text) !important;
}

a:hover{
  color: var(--primary) !important;
}


.bg-primary{
  background-color: var(--primary) !important;
}

.card-group, .card-group > .card
{
  justify-content: center !important;
}

.arrow-card
{
  width: auto !important;
  border: 0 !important;
}

.section
{
  background-color: white;
  margin: auto ;
  width: 90%;
  padding: 1%;
}

.app-cancion-container
{
  text-align: center;
}

.text-danger {
  font-weight: 600 !important;
  text-align: center !important;
}

.text-success {
  color: var(--success) !important;
  font-weight: 600 !important;
  text-align: center !important;
}

.text-warning {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.profile-pic{
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.my-container{
  width: auto;
  max-width: 80% !important;
  padding: 30px;
  margin: 30px auto;
  margin-bottom: 100px !important;

  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18.5px );
  -webkit-backdrop-filter: blur( 18.5px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.card {
  margin-right: 10px;
}

.card-group .badge{
  background-color: black !important;
}

.card-group .badge a{
  color: white !important;
  text-decoration: none !important;
}

.card img {
  /* border-radius: 100% !important; */
  background-color: transparent !important;
}

.card img::after
{
  content:"";
  background-image: inherit;
  width:inherit;
  height:100%;
  position: absolute;
  bottom:-100%;
  transform:scaleY(-1)
}

.card-body {
  color: black !important;
}

.section, .card {
  border-radius: 20px !important;
  border: 0 !important;;
}

.cancion:hover
{
  background-color: rgba(232,232,232, 0.5) !important;
  opacity: 0.9 !important;
  cursor: pointer;
}

.inverted
{
  margin-top: 10px !important;
  box-shadow: none !important;
  opacity: 0.1 !important;
  height: 30px;
}

button[type="submit"] {
  background-color: var(--primary) !important;
  color: white !important;
  border: 0 !important;
  margin: 10px;
  width: 100%;
  border-radius: 20px !important;
  padding: 10px !important;
}

input {
  outline: none !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]
{
  border-radius: 0 !important;
  border: 0 !important;
  background: transparent !important;
}

input[type="email"]:focus {
  border: 0 !important;
}

.input-group-text{
  border: 0 !important;
  background: transparent !important;
}

.btn-login {
  background-image: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.alert-warning {
  background-color: var(--warning) !important;
}

.curved-bottom {
  width: 100%;
  position: relative;
  bottom: 0;
}

.resumen {
  background-color: white !important;
  width: 100%;
  height: 30%;
  text-align: left;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.1);

  overflow-x: auto !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
}

.hijos {
  display: inline-block;
  width: 30% !important;
  text-align: center;
}

input[type="search"] {
  background-color: var(--gray) !important;
  border: 0 !important;
  border-radius: 20px !important;
  padding: 20px !important;
}

.container {
  margin-top: 10px !important;
}

.my-container > * , .container > *, .nav > * {
  margin-top: 10px !important;
}

.table {
  padding: 20px !important;
  border-radius: 20px;
  text-align: center;
}

.info {
  font-size: 12px !important;
  color: gray !important;
  margin-left: 10px;
}

.paginacion {
  display: flex;
  justify-content: space-around;
}


html {
  background: #fff
}

input, button, submit {
  border: none
}

html {
  background: #fff
}

input, button, submit {
  border: none
}
/***/

.btn-more {
  background-color: black !important;
  color: white;
}


.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
