<div class="my-container">
  <h1 class="text-left">Muy de tu estilo</h1>
  <div class="container mt-4 animate__animated animate__bounceIn">
    <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
      <div *ngFor="let cancion of deTuEstilo">
        <app-novedad [cancion] = "cancion"></app-novedad>
      </div>
    </div>
  </div>
</div>

<div class="my-container">
  <h1 class="text-left">Basado en usuarios similares</h1>
  <div class="container mt-4 animate__animated animate__bounceIn">
    <div class="row row-cols-1 row-cols-md-4 g-4 top-tracks text-center">
      <div *ngFor="let cancion of this.otrosUsuarios">
        <app-novedad [cancion] = "cancion"></app-novedad>
      </div>
    </div>
  </div>

</div>
